#container {
    border-radius: 25px;
    height: 75%;
    width: 75%;
    background-color: #e6f7ff;
    position: relative;
    margin: auto;
    /*padding-right: 10px;*/
}

/*#poster {
  height: 250; 
  width: 180;
  float: left;
}*/

#image_container > img {
  height: 250; 
  width: 180;
  float: left;
  margin-left: 10;
}

#desc_container {
  border-radius: 25px;
  /*border: 2px solid #99ccff;*/
  /*padding-right: 10%;*/
  margin-left: 190;
  width: 70%;
}

#description {
  width: 70%;
  padding-right: 5%;
  margin: 0;
}

p {
  float: left;
  margin: 10px;
  padding: 10px;
  display: block;
}